torch
pyyaml
pytest
tiktoken
datasets
transformers
numpy
tqdm
omegaconf
wandb
hydra-core
langchain
langchain-core
langchain_classic
langchain-community
langchain-text-splitters
langchain-huggingface
faiss-cpu
chromadb
sentence-transformers
pypdf
requests
fastapi
openai